/* Olga Alonso Grela UO288066 */
/* Estilos generales del proyecto MotoGP-Desktop */

/* GAMA CROMÁTICA
    fondo:  rgb(231, 231, 231)          (gris claro)
    otro:   rgb(4, 35, 75)              (azul marino)
    header: black

    h1:     white
    nav:    white
    letra:  black

    otro:   rgb(158, 0, 0)              (rojo oscuro)
*/

/* HTML-CSS 2: ejercicio 9: establecer la fuente y su familia en el elemento body */
/* E: 001 */
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgb(231, 229, 229);
    color: black;
}

/* E: 001 */
header {
    background-color: black;
    color: white;
}

/* E:002 */
header a {
    color: white;
    text-decoration: none;
}

/* HTML-CSS 3: ej2: elemento activo del nav */
/* E:012 */
header a.active {
    color: rgb(255, 0, 0);
    font-weight: bold;
}

/* E:002 */
header nav {
    font-size: 1.3em;
}

/* HTML-CSS 3: ej3: Migas -> Destacar el último término y tamaño de letra más pequeño */
/* E:002 */
header + p {
    font-size: .7em;
}

/* E:003 */
header + p a {
    color: black;
}

/* HTML-CSS 3: ejercicios optativos */

/* ENLACES EXTERNOS */
/* E:002 */
main a {
    color: rgb(158, 0, 0);
    text-decoration: none;
} 

/* E:012 */
main a:hover {
    text-decoration: underline;
    color: blue;
}

/* E:012 */
main a:visited {
    color: purple;
}

/* ENCABEZADOS */
/* E:001 */
h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

/* TABLA */
/* E:001 */
table {
    background-color: white;
    border-radius: 1em;
}

/* E:002 */
table caption {
    font-weight: bold;
    margin: .5em 0;
}

/* E:002 */
table th {
    color: rgb(158, 0, 0);
    text-transform: uppercase;
}

/* LISTA DE DEFINICIÓN */
/* E:002 */
main dl {
    background-color: rgb(211, 211, 211);
    border-radius: 1em;
    padding: 1em 2em;
    margin-bottom: 2em;
}

/* E:002 */
main dt {
    text-transform: uppercase;
    font-weight: bold;
}

/* E:002 */
main dd {
    text-align: justify;
}

/* OTRO */
/* E:002 */
main p {
    text-align: justify;
}
