/* Olga Alonso Grela UO288066 */
/* Estilos generales del proyecto MotoGP-Desktop */

/* GAMA CROMÁTICA
    fondo:  rgb(231, 231, 231)          (gris claro)
    otro:   rgb(4, 35, 75)              (azul marino)
    header: black

    h1:     white
    nav:    white
    letra:  black

    a.hover: #0000FA          (azul)
    a.visited: purple

    otro:   #FF6161           (salmon)
            #B30000           (rojo)
            #990000           (rojo oscuro)

*/

/* E: 001 */
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgb(231, 229, 229);
    color: black;
    font-size: 1.2vmax;
}

/* E: 001 */
header {
    background-color: black;
    color: white;
    font-size: 1.3vmax;
}

/* E:002 */
header a {
    color: white;   /* Hay un color de primer plano establecido y no hay color de fondo */
    text-decoration: none;
}

/* E:002 */
header > button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    color: white;   /* Hay un color de primer plano establecido y no hay color de fondo */
    font-size: 2.6vmax;
}

/* E:012 */
header a.active {
    color: #FF6161;  /* Hay un color de primer plano establecido y no hay color de fondo */
    font-weight: bold;
}

/* E:012 */
header nav a:hover{
    text-decoration: underline;
}

/* E:002 */
header nav {
    font-size: 1.5vmax;
}

/* E:013 */
header nav a:last-child {
    color:#66FF33;  /* Hay un color de primer plano establecido y no hay color de fondo */
    font-weight: bold;
}

/* E:002 */
header + p {
    font-size: .6em;
}

/* E:003 */
header + p a {
    color: black;   /* Hay un color de primer plano establecido y no hay color de fondo */
}

/* ENLACES EXTERNOS */
/* E:002 */
main a {
    color: #990000; /* Hay un color de primer plano establecido y no hay color de fondo */
    text-decoration: none;
} 

/* E:012 */
main a:hover {
    text-decoration: underline;
    color: #0000FA; /* Hay un color de primer plano establecido y no hay color de fondo */
}

/* E:012 */
main a:visited {
    color: purple;  /* Hay un color de primer plano establecido y no hay color de fondo */
}

/* E:001 */
h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

/* E:001 */
table {
    background-color: white; /* Hay un color de fondo establecido y no hay color de primer plano */
    border-radius: 1em;
}

/* E:002 */
table caption {
    font-weight: bold;
    margin: .5em 0;
}

/* E:002 */
table th {
    color: #B30000; /* Hay un color de primer plano establecido y no hay color de fondo */
    text-transform: uppercase;
}

/* E:002 */
main dl {
    background-color: rgb(211, 211, 211);    /* Hay un color de fondo establecido y no hay color de primer plano */
    border-radius: 1em;
    padding: 1em 2em;
    margin-bottom: 2em;
}

/* E:002 */
main dt {
    text-transform: uppercase;
    font-weight: bold;
}

/* E:002 */
main dd {
    text-align: justify;
}

/* E:002 */
main p {
    text-align: justify;
    text-indent: 2em;
}

/* E:002 */
body section article {
    background-color: white;     /* Hay un color de fondo establecido y no hay color de primer plano */
    border-radius: 1em;
}

/* E:001 */
aside {
    border: 0.3vmax solid rgb(200, 200, 200); 
    border-radius: 1rem;
}

/* E:001 */
form {
    max-width: 50rem;      
    background-color: #f7f7f7;   /* Hay un color de fondo establecido y no hay color de primer plano */
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
}

/* E:002 */
form label,
/* E:0012 */
form input[type="text"],
form input[type="number"],
form input[type="radio"] {
    width: 100%;
}

/* E:012 */
form input[type="text"],
form input[type="number"] {
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
}

/* E:012 */
form input[type="submit"] {
    width: 100%;
    background-color: #0000FA;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* E:012 */
form input[type="submit"]:hover {
    background-color: #000099;   /* Hay un color de fondo establecido y no hay color de primer plano */
}

@media (min-width:320px) and (max-width:799px) {
    /* E:002 */
    body {
        font-size: 2vmax; /* Redefinición de font-size */
    }

    /* E:002 */
    header h1 {
        font-size: 2.5vmax;
    }

    /* E:002 */
    header nav {
        font-size: 2.5vmax; /* Redefinición de font-size */
    }

    /* E:002 */
    table th, table td {
        font-size: 1.3vmax;
    }

    /* E:001 */
    h1 {
        font-size: 2vmax;
    }

    /* E:002 */
    header > button {
        font-size: 2.5vmax; /* Redefinición de font-size */
    }
}
