/* Olga Alonso Grela UO288066 */
/* Estilos generales del proyecto MotoGP-Desktop */

/* GAMA CROMÁTICA
    fondo:  rgb(231, 231, 231)          (gris claro)
    otro:   rgb(4, 35, 75)              (azul marino)
    header: black

    h1:     white
    nav:    white
    letra:  black

    a.hover: #0000FA          (azul)
    a.visited: purple

    otro:   #FF6161           (salmon)
            #B30000           (rojo)
            #990000           (rojo oscuro)

*/

/* HTML-CSS 2: ejercicio 9: establecer la fuente y su familia en el elemento body */
/* E: 001 */
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgb(231, 229, 229);
    color: black;
}

/* E: 001 */
header {
    background-color: black;
    color: white;
}

/* E:002 */
header a {
    color: white;
    text-decoration: none;
}

/* E:002 */
header > button {
    display: none; /* predeterminado */
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

/* HTML-CSS 3: ej2: elemento activo del nav */
/* E:012 */
header a.active {
    color: #FF6161;
    font-weight: bold;
}

/* E:012 */
header nav a:hover{
    text-decoration: underline;
}

/* E:002 */
header nav {
    font-size: 1.3em;
}

/* HTML-CSS 3: ej3: Migas -> Destacar el último término y tamaño de letra más pequeño */
/* E:002 */
header + p {
    font-size: .7em;
}

/* E:003 */
header + p a {
    color: black;
}

/* ENLACES EXTERNOS */
/* E:002 */
main a {
    color: #990000;
    text-decoration: none;
} 

/* E:012 */
main a:hover {
    text-decoration: underline;
    color: #0000FA;
}

/* E:012 */
main a:visited {
    color: purple;
}

/* ENCABEZADOS */
/* E:001 */
h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

/* TABLA */
/* E:001 */
table {
    background-color: white;
    border-radius: 1em;
}

/* E:002 */
table caption {
    font-weight: bold;
    margin: .5em 0;
}

/* E:002 */
table th {
    color: #B30000;
    text-transform: uppercase;
}

/* LISTA DE DEFINICIÓN */
/* E:002 */
main dl {
    background-color: rgb(211, 211, 211);
    border-radius: 1em;
    padding: 1em 2em;
    margin-bottom: 2em;
}

/* E:002 */
main dt {
    text-transform: uppercase;
    font-weight: bold;
}

/* E:002 */
main dd {
    text-align: justify;
}

/* OTRO */
/* E:002 */
main p {
    text-align: justify;
}

/* E:002 */
body section article {
    background-color: white;
    border-radius: 1em;
}

/* E:001 */
aside {
    border: 0.3vmax solid rgb(200, 200, 200); 
    border-radius: 1rem;
}

/* FORM */
form {
    max-width: 50rem;      
    background-color: #f7f7f7;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
}

form label,
form input[type="text"],
form input[type="number"],
form input[type="radio"] {
    width: 100%;
}

form input[type="text"],
form input[type="number"] {
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
}

form input[type="submit"] {
    width: 100%;
    background-color: #0000FA;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #000099;
}
