/* Olga Alonso Grela UO288066 */
/* Estilos generales del proyecto MotoGP-Desktop */

/* GAMA CROMÁTICA
    fondo:  rgb(231, 231, 231)          (gris claro)
    otro:   rgb(4, 35, 75)              (azul marino)
    header: black

    h1:     white
    nav:    white
    letra:  black

    otro:   rgb(158, 0, 0)              (rojo oscuro)
*/

/* HTML-CSS 2: ejercicio 9: establecer la fuente y su familia en el elemento body */
/* E: 001 */
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgb(231, 231, 231);
    color: black;
}

/* E: 001 */
header {
    background-color: black;
    color: white;
}

/* E:002 */
header a {
    color: white;
    text-decoration: none;
}

/* HTML-CSS 3: elemento activo del nav */
/* E:012 */
header a.active {
    color: rgb(255, 0, 0);
    font-weight: bold;
}