/* Olga Alonso Grela UO288066 */
/* Layout del proyecto MotoGP-Desktop */

/* E:001 */
body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}

/* E:001 */
main{
    padding: 1em;
    overflow-x: auto;
    margin: 0 8vmax;
}

/* HTML-CSS 3: ej5: Aplicar Flexbox al header y nav */
/* E:001 */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    gap: 1em;
}

/* E:002 */
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: .4em;
} 

/* E:001 */
h2, h3, h4, h5, h6, p {
    margin: .5vmax;
}

/* E:001 */
img, video, audio {
    max-width: 100%;
    height: auto;
}

/* E:001 */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 2em;
}

/* E:002 */
table th, table td {
    padding: .5em;
    text-align: center;
}

/* E:001 */
section {
    overflow-x: auto;
    width: 100%;
    margin: 1vh 0;
}

/* E:002 */
main > div {
    width: 100%;
    height: 30vw;
    margin: 10px 0;
}

/* E:002 */
main dt {
    padding-top: 1em;
}

/* E:002 */
main dl {
    padding-bottom: 3vmax;
}

/* E:002 */
main dd {
    padding-right: 2em;
}

/* E:001 */
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vmax;
}

/* E:003 */
main section article {
    display: block;
    padding: 1.5vmax .5vmax;
}

/* E:003 */
main section h2 {
    text-align: center;
}

/* E:004 */
main section article a {
    display: block;
    text-align: center;
}

/* FORM */
/* E:001 */
form {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;      
    padding: 2rem;
}

/* E:002 */
/* E:012 */
form label,
form input[type="text"],
form input[type="number"],
form input[type="radio"] {
    display: block;
    margin-bottom: 1rem;
}

/* E:012 */
form input[type="radio"] {
    margin-right: 1rem;
}

/* E:012 */
form input[type="text"],
form input[type="number"] {
    box-sizing: border-box;
    padding: 0.5rem;
}

/* E:012 */
form input[type="submit"] {
    display: block;
    padding: 0.75rem;
    margin: 1rem;
}

/* E:002 */
main label {
    display: block;       /* Cada label ocupa toda la línea */
    margin-bottom: 1em;   /* Espacio entre labels */
}

/* E:003 */
main label input {
    display: block;       /* El input aparece debajo del texto del label */
    margin-top: 0.3em;    /* Separación del texto */
}

/* HTML-CSS 3: ej6: Adaptabilidad de contenidos */
@media (min-width:320px) and (max-width:799px) {
    /* E:001 */
    header {
        flex-direction: column;
        position: relative;
    }

    /* E:002 */
    header > button {
        display: block;
        position: absolute;  
        z-index: 1000;
        top: 0.5em;
        right: 0.5em;     
        background: none;
        border: none;
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }

    /* E:002 */
    header nav {
        display: none;
        flex-direction: column;
        position: relative;        /* se posiciona relativo al header */
        top: 100%;                 /* justo debajo del header */
        left: 0;
        width: 100%;
        background-color: black;
        z-index: 999;
        margin: 0;
        padding: 0.5em 0;
    }

    /* E:003 */
    header nav a {
        padding: 0.5em 1em;
    }

    /* E:013 */
    header nav a:hover {
        background-color: #444;
        text-decoration: none;
    }

    /* E:012 */
    header nav[data-visible="true"] {
        display: flex;
    }

    /* E:002 */
    header + p{
        display: none;
    }

    /* E:003 */
    article h2 + img {
        width: 100%;
        height: auto;

    }

    /* E:002 */
    table th, table td {
        font-size: calc(100vmax/70);
    }

    /* E:002 */
    body section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1em;
        padding: 1%;
    }

    /* E:00 */
    main > div {
        max-height: 60vh;
    }

    /* E:003 */
    main section article {
        text-align: center;
        margin: 0;
    }

    /* E:004 */
    main section article h3{
        text-align: center;
    }
}