/* Olga Alonso Grela UO288066 */
/* Grid Layout para el juego de memoria */

/* E: 001*/
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3vw;
    margin: 0 2vw; 
}

/* E:002 */
main h2 {
    grid-column: 1/-1;
    justify-self: center;
}

/* E:002 */
main p {
    grid-column: 1/-1;
    justify-self: center;
    font-size: 1.5em;
}

@media (min-width:320px) and (max-width:799px) {
    /* E:001 */
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3vw;
        margin: 0 2vw;
    }

    /* E:002 */
    main article {
        width: 40vw;
    }

}