/* Olga Alonso Grela UO288066 */
/* Grid Layout para el juego de memoria */

/* Redefinición de column-gap, Redefinición de row-gap */

/* E: 001*/
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    margin: 0 5vmax;
}

/* E:002 */
main h2 {
    grid-column: 1/-1;
    justify-self: center;
}

/* E:002 */
main p {
    grid-column: 1/-1;
    justify-self: center;
    font-size: 1.5em;
}

@media (min-width:320px) and (max-width:799px) {

    main {
        display: grid;                          /* Redefinición de display */
        grid-template-columns: repeat(2, 1fr);  /* Redefinición de grid-template-columns */
        gap: 1vw;                               /* Redefinición de gap */
        margin: 0;                              /* Redefinición de margin-bottom, margin-left, margin-right, margin-top */
    }

    /* E:002 */
    main article {
        width: 40vw;
    }

}