/* Olga Alonso Grela UO288066 */
/* Grid Layout para el juego de memoria */

/* E: 001*/
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    margin: 0 5vmax;
}

/* E:002 */
main h2 {
    grid-column: 1/-1;
    justify-self: center;
}

/* E:002 */
main p {
    grid-column: 1/-1;
    justify-self: center;
    font-size: 1.5em;
}

@media (min-width:0px) and (max-width:799px) {

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1vw;
        margin: 0;
    }

    /* E:002 */
    main article {
        width: 40vw;
    }

}