/* Olga Alonso Grela UO288066 */
/* Grid Layout para el juego de memoria */

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

main h2 {
    grid-column: 1/-1;
}

@media (min-width:320px) and (max-width:799px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    main article {
        width: 40vw;
    }

}