/* Olga Alonso Grela UO288066 */
/* Layout del proyecto MotoGP-Desktop */

/* E:001 */
body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}

/* E:001 */
main{
    padding: 1em;
    overflow-x: auto;
    margin: 0 8vmax;
}

/* HTML-CSS 3: ej5: Aplicar Flexbox al header y nav */
/* E:001 */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    gap: 1em;
}

/* E:002 */
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: .4em;
} 

/* E:001 */
h2, h3, h4, h5, h6 {
    margin: .5vmax;
}

/* E:001 */
img, video, audio {
    max-width: 100%;
    height: auto;
}

/* E:001 */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 2em;
}

/* E:002 */
table th, table td {
    padding: .5em;
    text-align: center;
}

/* E:001 */
section {
    overflow-x: auto;
    width: 100%;
}

/* E:002 */
main dt {
    padding-top: 1em;
}

/* E:002 */
main dl {
    padding-bottom: 3vmax;
}

/* E:002 */
main dd {
    padding-right: 2em;
}

/* E:001 */
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vmax;
}

/* E:003 */
main section article {
    display: block;
    padding: 1.5vmax .5vmax;
}

/* E:003 */
main section h2 {
    text-align: center;
}

/* E:004 */
main section article p, h3 {
    margin: .5vmax
}

/* E:004 */
main section article a {
    display: block;
    text-align: center;
}

/* HTML-CSS 3: ej6: Adaptabilidad de contenidos */
@media (min-width:320px) and (max-width:799px) {

    /* E:001 */
    main {
        margin: 0;
    }

    /* E:001 */
    header {
        flex-direction: column;
    }

    /* E:002 */
    header nav {
        flex-direction: column;
        padding-bottom: 1em;
    }

    /* E:002 */
    header + p{
        display: none;
    }

    /* E:003 */
    article h2 + img {
        width: 100%;
        height: auto;

    }

    /* E:001 */
    video, audio {
        width: 100%;
        height: auto;
    }

    /* E:002 */
    table th, table td {
        font-size: calc(100vmax/70);
    }

    /* E:002 */
    body section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1em;
        padding: 1%;
    }

    /* E:003 */
    main section article {
        text-align: center;
        margin: 0;
    }

    /* E:004 */
    main section article h3{
        text-align: center;
    }
}